.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #c1c574;
  border: 1px solid #bfc36d;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #b5b960;
  border-color: #b5b960;
}
